
.DS_Store


Avast/Guarded.xcworkspace/xcuserdata/rodrigohilkner.xcuserdatad/UserInterfaceState.xcuserstate
Avast/Guarded.xcworkspace/xcuserdata/andressa.aquino.xcuserdatad/UserInterfaceState.xcuserstate
Avast/Guarded.xcworkspace/xcuserdata/filipe.xcuserdatad/UserInterfaceState.xcuserstate